# Quarterly Census of Employment and Wages (QCEW): U.S. Employment Patterns 2023–2025 Q1

This project explores employment and wage patterns using data from the U.S. ggovernment.  
I use pandas and the Python standard library to compute descriptive statistics (mean, median, and mode) and visualize the results using only built-in Python tools.

Dataset: https://catalog.data.gov/dataset/quarterly-census-of-employment-and-wages-qcew-a6fea?utm_source=chatgpt.com

In [144]:
# Step 1 — Import pandas and Load the Dataset
import pandas as pd

df = pd.read_csv("qcew 2023-2025 q1.csv")

df.info()
df.head()
df.columns.tolist()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 642762 entries, 0 to 642761
Data columns (total 15 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   Area Type                   642762 non-null  object
 1   Area Name                   642762 non-null  object
 2   Year                        642762 non-null  int64
 3   Time Period                 642762 non-null  object
 4   Ownership                   642762 non-null  object
 5   NAICS Level                 642762 non-null  int64
 6   NAICS Code                  642762 non-null  object
 7   Industry Name               642762 non-null  object
 8   Establishments              642762 non-null  int64
 9   Average Monthly Employment  642762 non-null  int64
 10  1st Month Emp               642762 non-null  int64
 11  2nd Month Emp               642762 non-null  int64
 12  3rd Month Emp               642762 non-null  int64
 13  Total Wages (All Workers)   642762 non-null  float64
 14  Average Weekly Wages        642762 non-null  int64
dtypes: float64(1), int64(8), object(6)
memory usage: 73.6+ MB

['Area Type',
 'Area Name',
 'Year',
 'Time Period',
 'Ownership',
 'NAICS Level',
 'NAICS Code',
 'Industry Name',
 'Establishments',
 'Average Monthly Employment',
 '1st Month Emp',
 '2nd Month Emp',
 '3rd Month Emp',
 'Total Wages (All Workers)',
 'Average Weekly Wages']

pd.read_csv() loads the dataset into a pandas DataFrame.

df.info() shows column names, non-null counts, and data types.

df.head() previews the first few rows to understand the structure.

And in this project I will focus on the avergae weekly wages column.

In [145]:
# Step 2 - Clean the data
avg_weekly_wages = "Average Weekly Wages"
df = df[(df[avg_weekly_wages] != 0)]

This step removes the data that is zero.

In [146]:
# Step 3 — Compute the mean
mean_weekly_wages = df[avg_weekly_wages].mean()
print(f"Mean: {mean_weekly_wages:.2f}")

Mean: 1440.39

In [147]:
# Step 4 — Compute the median
median_weekly_wages = df[avg_weekly_wages].median()
print(f"Median: {median_weekly_wages:.2f}")

Median: 1264.00

In [148]:
# Step 5 — Compute the mode
mode_weekly_wages = df[avg_weekly_wages].mode()[0]
print(f"Mode: {mode_weekly_wages:.2f}")

Mode: 1234.00

In [149]:
# Step 5: Calculate mean, median, and mode manually (The Hard Way)
import csv

values = []
with open("qcew 2023-2025 q1.csv") as f:
    reader = csv.DictReader(f)
    for row in reader:
            v = row["Average Weekly Wages"]
            num = float(v)
            if num != 0:
                 values.append(num)

# Mean
mean_values = sum(values) / len(values)

# Median
values_sorted = sorted(values)
n = len(values_sorted)
if n % 2 == 1:
    median_values = values_sorted[n // 2]
else:
    median_values = (values_sorted[n // 2 - 1] + values_sorted[n // 2]) / 2

# Mode
counts = {}
for v in values:
    counts[v] = counts.get(v, 0) + 1
mode_values = max(counts, key=counts.get)

print(f"Manual Mean: {mean_values:.2f}")
print(f"Manual Median: {median_values:.2f}")
print(f"Manual Mode: {mode_values:.2f}")

Manual Mean: 1440.39
Manual Median: 1264.00
Manual Mode: 1234.00

In [ ]:
# Step 6: Visualization: ASCII Bar Chart for Top 10 Industries by Average Weekly Wages

print("Average Weekly Wages by Industry")
print("Unit: USD\n")

top20 = df.groupby("Industry Name")["Average Weekly Wages"].mean().nlargest(20)

for industry, wage in top20.items():
    bar = "█" * int(wage / 100)  
    print(f"{industry[:25]:25s} | {bar} ({wage:.0f})")

Average Weekly Wages by Industry
Unit: USD

Monetary Authorities - Ce | ████████████████████████████████████████████████████████████████████████████████████████████████ (9696)
Open-End Investment Funds | ████████████████████████████████████████████████████████████████ (6424)
Semiconductor and Related | █████████████████████████████████████████████████████████ (5764)
Commodity Contracts Inter | ████████████████████████████████████████████████████████ (5658)
Investment Banking and Se | ████████████████████████████████████████████████████ (5211)
Security & Commodity Inve | ███████████████████████████████████████████████████ (5129)
Offices of Bank Holding C | ████████████████████████████████████████████████ (4850)
Web Search Portals and Al | ███████████████████████████████████████████████ (4725)
Electronic Computer Manuf | ███████████████████████████████████████████████ (4704)
Other Financial Vehicles  | ███████████████████████████████████████████ (4370)
Trusts, Estates, and Agen | ██████████████████████████████████████████ (4275)
Other Investment Pools an | █████████████████████████████████████████ (4173)
Miscellaneous Intermediat | █████████████████████████████████████████ (4172)
Securities and Commoditie | █████████████████████████████████████████ (4124)
Securities and Commodity  | █████████████████████████████████████████ (4124)
Sports Teams and Clubs    | ████████████████████████████████████████ (4006)
Research and Development  | █████████████████████████████████████ (3761)
Financial Investment & Re | ████████████████████████████████████ (3680)
Other Electric Power Gene | ███████████████████████████████████ (3576)
Financial Transaction Pro | ███████████████████████████████████ (3523)

This ASCII bar chart displays the Top 20 industries ranked by their Average Weekly Wages. Each row represents one industry, and the length of the bar visually indicates the average weekly wage level. And every $100 for one block. The wages are printed on the right-hand side in parentheses for reference. This visualization allows us to quickly compare which industries pay the highest wages.